# Site 
PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_GA_TRACKING_ID=
PUBLIC_MAPBOX_TOKEN=

# Content (AirTable)
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=

# SEO
PUBLIC_SITE_NAME=Observatorio Contenda
PUBLIC_SITE_DESCRIPTION=Plataforma de mapeamento colaborativo da Regiao Metropolitana de Curitiba
PUBLIC_SITE_IMAGE=https://observatoriocontenda.org/og-image.png

# Analytics
UMAMI_WEBSITE_ID=
UMAMI_SCRIPT_URL=https://umami.example.com/script.js
